@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
    /* Maximizing width and height */
    width: 100vw;
    height: 100vh;
    
    /* Centering all items */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Font family */
    font-family: 'Poppins', sans-serif;
}

/* Write CSS here */
.mysearchBox {
    width: 300px;
    height: 50px;
    
    border: 1px solid black;
    border-radius: 4px;

    padding-left: 16px;

    font-size: 16px;

}
table, th, td {
    border: 1px solid black;
    padding: 4px;
}
.myTable {
    margin-top: 8px;
}

.suggestionBox {
    width: 318px;
    max-height: 100px;
    overflow-y: auto;

    border: 1px solid black;
    border-radius: 4px;

    margin-top: 4px;
}
.suggestionItem {
    background-color: rgba(204, 204, 204, 0.5);

    padding: 4px;
    margin: 4px 0px;

    cursor: pointer;
}